<section class="heading" role="heading">
    <div class="titles">
        <h1>Item Form</h1>
        <p>Provide item title and submit</p>
    </div>
</section>
<form [formGroup]="form">
    <input 
        formControlName="name" 
        type="text" 
        [placeholder]="isLoading ? 'Loading item title...' : 'Enter item title'"
        [readonly]="isLoading || isSubmitting">
    <button 
        [disabled]="isSubmitting"
        (click)="submit()">
        @if (isSubmitting) {
            Submitting...
        }
        @else {
            Submit
        }
    </button>
</form>
<small 
    [style.visibility]="hasError('name', 'required') ? 'visible' : 'hidden'"
    class="field-error">
    Name is required
</small>
