:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10vh;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    input {
        flex-grow: 3;
    }

    button {
        flex-grow: 1;
    }
}
